{{- with site.Params.author }}
<h2 class="site-name">{{ .name }}</h2>
{{ with .email }}<p class="site-email"><a href="mailto:{{ . }}">{{ . }}</a></p>{{ end }}
<hr>
{{- end }}
<nav aria-label="Main">
  <ul class="menu">
    {{- range site.Menus.main }}
    <li>
      <a href="{{ .URL }}" class="section-link">{{ .Name }}</a>
      {{- with .Page }}
      {{- if eq .Kind "section" }}
      <ul>
        {{- range .RegularPages }}
        {{- if .Params.slideshow }}
        <li><a href="{{ .RelPermalink }}" class="project-link">{{ .Title }}</a></li>
        {{- end }}
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </li>
    {{- end }}
  </ul>
</nav>
